<div class="row">
  <div class="col-sm-6">
    <h2>{{title}}</h2>
  </div>
  <div class="col-sm-6 align-bottom">
    <button class="btn btn-primary pull-right" routerLink="/admin/access/user/create">Create New User</button>
  </div>
</div>
<table class="table table-striped" style="text-align: left">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | async">
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.email }}</td>
    <td>
      <div class="btn-group">
        <button (click)="delete(user.id)" class="btn btn-danger btn-sm">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>