<div class="card">
  <div class="card-header">
    <i class="fa fa-user-plus"></i> Create New User
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <form action="" method="post">
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="username2" name="username2" class="form-control" placeholder="Username">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="email" id="email2" name="email2" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" id="password2" name="password2" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group form-actions">
            <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
      <button type="submit" class="btn btn-outline-primary"><i class="fa fa-save"></i> Submit</button>
      <button type="submit" class="btn btn-outline-danger"><i class="fa fa-arrow-left"></i> Go Back</button>
  </div>
</div>