// Custom CSS
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

app-admin-layout {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.ngx-datatable.bootstrap .datatable-footer {
  background: #29363d;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  padding: 0.50rem;
}
